/* General */
/* fonts google family :"Spectral", serif --- family:"Roboto", sans-serif; */
h1 {
  font-size: 4em;
  font-weight: 500;
  margin: 10px;
  padding: 10px;
  font-family: "Spectral", serif;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 0.8em;
  font-weight: 800;
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: anchor-center;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 800;
  margin: 5px;
  padding: 2px;
  display: flex;
  justify-content: flex-start;
  align-items: anchor-center;
}
h5 {
  font-size: 1.2em;
  font-weight: bold;
  margin: 5px;
  padding: 2px;
  display: flex;
}
h6 {
  font-size: 9px;
  font-weight: 600;
  margin: 5px;
  padding: 2px;
  margin-top: 0;
  padding-top: 0;
}
p {
  font-size: 1em;
  font-weight: 300;
  margin: 5px;
  padding: 2px;
}

body {
  width: 100%;
  margin: auto;
}
/* Zona Nav  */
#logo {
  width: 100px;
}
nav {
  display: flex;
  background-color: #ffc017;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid #191919;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  gap: 70px;
}
nav.scrolled {
  background-color: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  /* position: fixed; */
  /* width: 100%; */
}
nav.scrolled button {
  background-color: rgba(12, 115, 12, 0.643);
}
/* Non ho capito se doveva rimanere sempre visibile o meno, l'ho lasciata così */
li {
  margin: 1em;
  list-style-type: none;
  font-size: small;
}
ul {
  display: inline-flex;
  align-items: center;
}
/* UnderNav */
#underNav {
  background-color: #ffc017;
  border-bottom: solid #191919;
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}
#underNav div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#ms {
  display: flex;
  justify-content: flex-end;
}
#startRead {
  margin-top: 30px;
  padding: 12px;
  width: 200px;
}
svg {
  font-family: "Spectral", serif;
  width: 45%;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  content-visibility: visible;
}
svg:hover {
  animation: matrix 10s infinite 1s ease-in-out;
  z-index: 0;
}
/* Bottoni header*/
header button {
  font-family: "Roboto", sans-serif;
  border-radius: 20px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #191919;
  color: antiquewhite;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 8px;
  font-size: x-small;
  width: 100px;
  cursor: pointer;
}
/* Prima sezione */
.ordered {
  list-style: decimal-leading-zero;
  width: 25%;
  padding: 5px;
}
ol {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-bottom: 0.5px solid rgba(175, 175, 175, 0.816);
  margin-bottom: 30px;
}
p img {
  border-radius: 100%;
  width: 20px;
  margin-right: 3%;
}
li p {
  font-weight: 600;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.ordered::marker {
  font-size: 1.8em;
  font-weight: bold;
  color: rgba(128, 128, 128, 0.7);
}
#lowp {
  color: rgba(128, 128, 128, 0.74);
  font-size: 12px;
  gap: 10px;
}
/* sezione articoli / aside */
#lowp1 {
  color: rgba(128, 128, 128, 0.74);
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  align-items: anchor-center;
  gap: 5px;
}
#fake {
  font-size: 10px;
  color: rgba(128, 128, 128, 0.74);
  box-shadow: 2px 2px 5px rgba(176, 176, 176, 0.2);
  padding: 1px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-style: none;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.art {
  display: flex;
  width: 75%;
  font-family: "Roboto", sans-serif;
}
.second-article {
  display: flex;
  justify-content: flex-start;
  align-items: anchor-center;
  font-weight: 600;
  font-size: small;
  font-family: "Roboto", sans-serif;
}
#article-img {
  width: 115px;
}
#article-img img {
  width: 200px;
}
.second-lowp {
  color: rgba(128, 128, 128, 0.74);
  font-size: 0.9em;
  font-weight: 400;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#articleContainer {
  width: 60%;
}
aside {
  display: flex;
  width: 27%;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
}
#container {
  display: flex;
  justify-content: space-evenly;
}
#aside-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#aside-div p {
  font-size: 12px;
  padding: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.493);
  color: rgba(159, 159, 159, 0.796);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
#contacts {
  width: 95%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-top: solid rgba(159, 159, 159, 0.7);
}
a {
  text-decoration: none;
  color: rgba(147, 147, 147, 0.913);
  font-size: 10px;
}
@keyframes matrix {
  0% {
    transform: rotate(0deg);
    transform: scale(0.8);
    opacity: 1;
  }
  25% {
    transform: rotate(10deg);
    transform: scale(0.9);
  }
  50% {
    transform: rotate(20deg);
    transform: scale(0.95);
    opacity: 0.8;
  }
  75% {
    transform: rotate(10deg);
    transform: scale(1);
  }
  100% {
    transform: rotate(0deg);
    transform: scale(1.1);
    opacity: 1;
  }
}
